@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");

:root{
    --first-color: #b22222;
    --first-color-light: rgb(236, 234, 234);
    --white-color: white;
    --body-font: 'Nunito', sans-serif;

}

*{
    margin: 0;
}

/* HEXAGON */

.hexagon {
    position: relative;
    background: var(--first-color-light);
    border-radius: 10px;
    width: 200px;
    height: 126px;
    box-sizing: border-box;
}

/* Creating pseudo-elements to form a hexagon */
.hexagon:before,
.hexagon:after {
    content: "";
    position: absolute;
    background: inherit;
    border-radius: inherit;
    height: 100%;
    width: 100%;
}

.hexagon:before {
    transform: rotate(60deg);
}

.hexagon:after {
    transform: rotate(-60deg);
}

/* HEXAGON */


.main-cont{
    height: 100vh;
    width: 100%;
    background-color: #b22222;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
}

.main-cont .left-cont{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width:100%;
    animation: none;
}

@keyframes moveleft {
    0% {
        transform: translateX(50%);
    }
    100% {
        transform: translateX(0); 
    }
}

@keyframes moveright {
    0% {
        transform: translateX(0);
    }
    100% {
    }
}


.main-cont .left-cont .logo{
    display: flex;
    flex-direction: column;

}

.main-cont .left-cont .log-reg{
    display: flex;
    flex-direction: column;
    gap:1em;

}

.main-cont .left-cont .log-reg button{
    height: 4em;
    width: 300px;   
    border-radius: 50px;
    color: var(--first-color);
    cursor: pointer;
    font-family: "Black Ops One", system-ui;
    border: none;
}

.main-cont .left-cont .log-reg button:hover{
    border: 3px solid var(--first-color);
}

.main-cont .right-cont{
    display: none;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    animation: slideInRight 0.5s forwards;
    align-items: center;
}

.main-cont .right-cont .login-cont .close-btn{
    height: 50px;
    width: 50px;
    position: relative;
    background-color: firebrick;
    border: 3px solid var(--first-color-light);    
    border-radius: 50%;
    cursor: pointer;
    left: -25px;
    display: none;
    justify-content: center;
    align-items: center;
}

.main-cont .right-cont .close-btn i{
    color: var(--first-color-light);
    font-size: 2em;

}


.main-cont .right-cont h1{
    color: var(--first-color);
}

.main-cont .right-cont .login-cont{
    display: flex;
    flex-direction: column;
    background-color: var(--first-color-light);
    align-items: center;
    height: 90%;
    width: 100%;
    border-radius: 20px 0 0 20px;
    justify-content: space-around;
}

.main-cont  .right-cont .login-cont a{
    text-decoration: none;
    color: firebrick;
}

.main-cont  .right-cont .login-cont form{
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5em;
    align-items: center;
    width: 50%;
    
}

.main-cont  .right-cont .login-cont button{
    height: 4em;
    width: 300px;   
    border-radius: 50px;
    background-color: white;
    color: var(--first-color);
    cursor: pointer;
    font-family: "Black Ops One", system-ui;
    border: none;
}

.main-cont  .right-cont .login-cont button:hover{
    border: 3px solid var(--first-color);
}

.main-cont  .right-cont .login-cont form .fill-up{
    height: 50px;
    width: 100%;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.main-cont  .right-cont .login-cont form .fill-up .icons{
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--first-color) 2px solid;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    color: var(--first-color);
}


.main-cont  .right-cont .login-cont form .fill-up input{
    width: 80%;
    border: none;
    outline: none;
    font-size: 1.2rem;
}



@keyframes slideInRight {
    0% {
        transform: translateX(100%); 
        opacity: 0; 
    }
    100% {
        transform: translateX(0); 
        opacity: 1; 
    }
}

@keyframes slideOutRight {
    0% {
        transform: translateX(0);
        opacity: 1; 
    }
    100% {
        transform: translateX(100%); 
        opacity: 0; 
    }
}



.main-cont  .right-cont .create-cont{
    display: none;
    flex-direction: column;
    background-color: var(--first-color-light);
    align-items: center;
    height: 90%;
    width: 100%;
    border-radius: 20px 0 0 20px;
    justify-content: space-around;
}

.main-cont  .right-cont .create-cont a{
    text-decoration: none;
    color: firebrick;
}

.main-cont  .right-cont .create-cont form{
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5em;
    align-items: center;
    width: 50%;
    
}

.main-cont  .right-cont .create-cont button{
    height: 4em;
    width: 300px;   
    border-radius: 50px;
    background-color: white;
    color: var(--first-color);
    cursor: pointer;
    font-family: "Black Ops One", system-ui;
    border: none;
}

.main-cont  .right-cont .create-cont button:hover{
    border: 3px solid var(--first-color);
}

.main-cont  .right-cont .create-cont form .fill-up{
    height: 50px;
    width: 100%;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.main-cont  .right-cont .create-cont form .fill-up .icons{
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--first-color) 2px solid;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    color: var(--first-color);
}


.main-cont  .right-cont .create-cont form .fill-up input{
    width: 80%;
    border: none;
    outline: none;
    font-size: 1.2rem;
}




